/*!**************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[0].use[2]!./node_modules/sass-loader/dist/cjs.js!./assets/src/style.scss ***!
  \**************************************************************************************************************************************************************************************/
:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-primary-rgb: 13, 110, 253;
  --bs-secondary-rgb: 108, 117, 125;
  --bs-success-rgb: 25, 135, 84;
  --bs-info-rgb: 13, 202, 240;
  --bs-warning-rgb: 255, 193, 7;
  --bs-danger-rgb: 220, 53, 69;
  --bs-light-rgb: 248, 249, 250;
  --bs-dark-rgb: 33, 37, 41;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-body-color-rgb: 33, 37, 41;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #212529;
  --bs-body-bg: #fff;
}

:root {
  --bs-primary: #22B573;
  --bs-primary-rgb: 34, 181, 115;
  --bs-secondary: #6c757d;
  --bs-secondary-rgb:108, 117, 125;
  --bs-ash-background:#E5E5E5;
  --link-font-family:"Poppins", sans-serif;
  --heading-font-familly: "Open Sans", sans-serif;
  --body-font-family: "Inter", sans-serif;
  --footer-font-family: "Raleway", sans-serif;
}

body {
  font-family: var(--body-font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font-familly);
}

h1 {
  font-size: 64px;
  font-weight: 700;
  line-height: 87.16px;
}

h3 {
  font-weight: 600;
  font-size: 26px;
  line-height: 39px;
}

h4 {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

a, input[type=button], button {
  font-family: var(--link-font-family);
}

.background-gry {
  background-color: var(--bs-ash-background);
}

@media (max-width: 575.98px) {
  h1 {
    font-size: 30px;
  }
}
#main-allcars-btn {
  background-color: var(--bs-primary);
  opacity: 0.8;
}

body {
  background-color: #adadad;
}

.form-check-input:checked {
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
}

.reset-btn button {
  background-color: var(--bs-primary);
  color: var(--);
  border-radius: 0;
}

.search-from-select {
  font-size: 22px;
  padding: 15px 17px 17px 20px;
  font-weight: 400;
}

.btn-car-listing {
  font-size: 24px;
  padding: 12px 17px 17px 20px;
  font-weight: 400;
}

.btn-car-listing img {
  width: 22.52px;
  margin-right: 10px;
}

.banner-content {
  padding: 30px 0 76px;
}

.btn-car-list-banner {
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  text-decoration: none;
  padding: 8px 27px 10px 26px;
  background-color: var(--bs-primary);
  border-radius: 100px;
  margin-top: 10px;
}

.car-listing {
  padding-right: 0;
}
.car-listing .list-car-wrapper {
  background: white;
  padding: 28px 28px 0 0;
}
.car-listing .list-car-wrapper .car-image {
  width: 30%;
  margin-top: 30px;
}
.car-listing .list-car-wrapper .list-car-side-wrapper {
  width: 70%;
}
.car-listing .list-car-wrapper .list-car-side-wrapper .wrapper-listing .mercedes span {
  font-weight: 400;
  font-size: 13px;
  line-height: 17.7px;
  padding: 2px 12px;
  background-color: #F1604F;
  border-radius: 17px;
  display: inline-block;
  transform: translateY(-3PX);
}
.car-listing .list-car-wrapper .list-car-side-wrapper .wrapper-listing .space-icon {
  width: 300px;
}
.car-listing .list-car-wrapper .list-car-side-wrapper .wrapper-listing .space-icon .car-listing-icon {
  width: 25%;
}
.car-listing .list-car-wrapper .list-car-side-wrapper .wrapper-listing .free {
  width: 400px;
  margin-top: 15px;
}
.car-listing .list-car-wrapper .list-car-side-wrapper .member-border {
  border-top: 0.5px solid #A0A4A8;
  padding-top: 13px;
  margin-top: -15px;
}

.vehicles-wrapper {
  padding: 61px 0;
}
.vehicles-wrapper .listing-category {
  border: 0.5px solid #A0A4A8;
}
.vehicles-wrapper .listing-category > div {
  border-right: 0.5px solid #A0A4A8;
  border-bottom: 0.5px solid #A0A4A8;
}
.vehicles-wrapper .listing-category > div:nth-child(6n) {
  border-right: 0;
}
.vehicles-wrapper .listing-category .vehicle-item-wrapper {
  padding: 19px 32px;
}
.vehicles-wrapper .listing-category .vehicle-item-wrapper:hover {
  background-color: #22B573;
  color: white;
  transition: all linear 0.1s;
}

.adress-form {
  width: 32%;
}

footer {
  background-color: var(--bs-primary);
  padding: 42px 0 163px;
  font-family: var(--footer-font-family);
}

.list-heading {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 30px;
}

.footer-list li {
  list-style: none;
  margin-bottom: 5px;
}
.footer-list li a {
  color: var(--bs-white);
  text-decoration: none;
  font-size: 16px;
  font-weight: 300;
}

@media (max-width: 991.98px) {
  .h-hight {
    margin-top: 50px;
  }
}
@media (max-width: 575.98px) {
  .footer-list li a {
    font-size: 14px;
    font-weight: 300;
  }
}
