.btn-car-list-banner{
    font-weight: 700;
    font-size: 18px; 
    line-height: 27px;
    text-decoration: none;
   padding: 8px 27px 10px 26px;
   background-color: var(--bs-primary);
   border-radius: 100px;
   margin-top: 10px;
}
