.s-btn-shadow{
    box-shadow: 5px 4px 5px -5px var(--bs-secondary);
}
.s-btn-title{
    color: #25282B;
    font-family: var(--link-font-family);
    font-size: 24px;
    font-weight: 500;
}
.form-check-input:checked {
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
}
.color-active{
    color: var(--bs-primary);
}
.select-prize h4{
    font-size: 24px;
    font-weight: 700;
    color: #25282B;
    margin: 0 0 19px 19px;
}

.reset-btn button{
    background-color: var(--bs-primary);
    border-radius: 0;
    width: 100%;
    border: none;
    padding: 16px 0 17px 0;
    font-size: 18px;
    font-weight: 800;
    font-family: var(--footer-font-family);
}