
.car-listing{
    .list-car-wrapper{
        background: white;
    padding: 28px 28px 0 0;
       
        .car-image{
            width: 30%;
            margin-top: 30px;
        }
            .list-car-side-wrapper{
                .wrapper-listing{
                    .mercedes{
                        span{
                            font-weight: 400;
                            font-size: 13px;
                            line-height: 17.7px; 
                            padding: 2px 12px;
                            background-color: #F1604F;
                            border-radius: 17px;
                            display: inline-block;
                            transform: translateY(-3PX);
                            }
                    }
                    .space-icon{
                        width: 300px;  
                        .car-listing-icon{
                            width: 25%;
                        } 
                    }
                }
                width: 70%;
                .member-border{
                    border-top:0.5px solid #A0A4A8 ;
                   padding-top: 13px;
                }
                } 
        }
    
}

