.wrapper-listing{
    h3{
        span{
            font-weight: 400;
            font-size: 13px;
            line-height: 17.7px; 
            padding: 2px 12px;
            background-color: #F1604F;
            border-radius: 17px;
            display: inline-block;
            transform: translateY(-3PX);
            }
    }

    
}
.list-car-wrapper{
    .car-image{
        width: 40%;
    }
    .list-car-side-wrapper{
        width: 60%;
    }
}
