body{
font-family: var(--body-font-family);
}
h1, h2, h3, h4, h5, h6{
    font-family: var( --heading-font-familly);
}
a, input[type="button"], button {
    font-family: var( --link-font-family);
}
.search-from-select{
    font-size: 22px;
    padding: 15px 17px 17px 20px;
    font-weight: 400;
}
.btn-car-listing{
    font-size: 24px;
    padding: 12px 17px 17px 20px;
    font-weight: 400;
}
.btn-car-listing img{
    width: 22.52px;
    margin-right: 10px;
}
